@import "styles/cores/typography";
@import "styles/cores/color";
@import "styles/cores/ui";

.Title {
  display: flex;
  justify-content: center;
  font-size: $title-font-size;
  margin-bottom: 3rem;
}

.ButtonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Button {
  @include button1;
  margin: 1rem 0rem;
}